<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Display</title>
    </head>
    <body>
        <pre>
            {# {{ variable | json_encode(constant('JSON_PRETTY_PRINT')) }} #}
            {# {{ dump(variable) }} #}
            {{ variable }}
        </pre>
    </body>
</html>

